<div class="container">
  <h2 class ="text-align-center" id="titulo-vitor">Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="form-inputs text-center ml-5 pl-5 mt-5 pt-1" id="signup-form">
        <%= f.input :email, required: true, autofocus: true %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>
        <%= f.input :name,
                  required: false,
                  hint: "leave it blank if you don't want to change it",
                  input_html: { autocomplete: "name" } %>
        <%= f.input :phone_number,
                  required: false,
                  hint: "leave it blank if you don't want to change it",
                  input_html: { autocomplete: "phone-number" } %>
        <%= f.input :password,
                    hint: "leave it blank if you don't want to change it",
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: false,
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :current_password,
                    hint: "we need your current password to confirm your changes",
                    required: true,
                    input_html: { autocomplete: "current-password" } %>
        <div class="form-actions btn btn-primary mb-5">
          <%= f.button :submit, "Update" %>
        </div>
      </div>
    </div>
  <% end %>

</div>
