<body class="dogs-page">
  <div class="row">
    <div class="col-12 col-lg-4 sidebar">
      <form action="" method="get" class="text-center">
        <div class="breed mb-2">Breed</div>
        <select name="breed">
          <option value="any" selected>Any</option>
          <% raças = [] %>
          <% @pets.each do |pet| %>
            <% if raças.include?(pet.breed) == false %>
              <option value="<%= pet.breed %>"><%= pet.breed %></option>
            <% end %>
            <% raças << pet.breed %>
          <% end %>
        </select>
        <div class="breed mb-2">Gender</div>
        <select name="gender">
          <option value="any" selected>Any</option>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <div class="breed mb-2">Age</div>
        <select name="age">
          <option value="any" selected>Any</option>
          <option value="puppy">Puppy</option>
          <option value="young">Young</option>
          <option value="adult">Adult</option>
          <option value="senior">Senior</option>
        </select>
        <div class="breed mb-2">Size</div>
        <select name="size">
          <option value="any" selected>Any</option>
          <option value="small">Small</option>
          <option value="medium">Medium</option>
          <option value="big">Big</option>
        </select>
        <br>
        <input type="submit" value="Save" class="text-center lg-pets-button mt-4">
      </form>
    </div>
    <div class="col-12 col-lg-8 margin-esquerda">
      <%= link_to '<i class="fa-solid fa-arrow-left mt-5 position"> <span class="ms-2"> Back </span></i>'.html_safe, root_path %>
      <div class="cards">
        <% @pets.each do |pet| %>
          <% if params[:breed] != nil || params[:gender] != nil || params[:age] != nil || params[:size] != nil  %>
            <% if pet.breed.upcase == params[:breed].upcase || pet.gender.upcase == params[:gender].upcase || pet.age.upcase == params[:age].upcase || pet.size.upcase == params[:size].upcase %>
              <%= link_to kennel_pet_path(kennel_id: pet.kennel_id, id: pet) do %>
                <div class="lg-pets-card">
                  <%= cl_image_tag pet.photos.first.key, crop: :fill, class: "img-pets" %>
                  <div class="name-pets"><%= pet.name %></div>
                  <div class="charac-pets"><%= pet.charac %></div>
                </div>
              <% end %>
            <% elsif params[:breed] == "any" && params[:gender] == "any" && params[:age]  == "any" && params[:size]  == "any" %>
              <%= link_to kennel_pet_path(kennel_id: pet.kennel_id, id: pet) do %>
                <div class="lg-pets-card">
                  <%= cl_image_tag pet.photos.first.key, crop: :fill, class: "img-pets" %>
                  <div class="name-pets"><%= pet.name %></div>
                  <div class="charac-pets"><%= pet.charac %></div>
                </div>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to kennel_pet_path(kennel_id: pet.kennel_id, id: pet) do %>
              <div class="lg-pets-card">
                <%= cl_image_tag pet.photos.first.key, crop: :fill, class: "img-pets" %>
                <div class="name-pets"><%= pet.name %></div>
                <div class="charac-pets"><%= pet.charac %></div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</body>
