<footer class="fixar-rodape">
  <div class="footer">
    <div class="footer-bg">
      <div class="container mt-3 d-flex align-items-center justify-content-center">
        <h6>This website was made by <small> Le Wagon's batch#1155</small></h6>
        <br>
      </div>
      <div class="container d-flex align-items-center justify-content-center mb-2">
        <%= link_to "https://github.com/vitorllr", target: "_blank" do %>
          <%= image_tag "https://avatars.githubusercontent.com/u/121905978?v=4", class: "avatar" %>
        <% end %>
        <%= link_to "https://github.com/zetohouse", target: "_blank" do %>
          <%= image_tag "https://avatars.githubusercontent.com/u/122761016?v=4", class: "avatar" %>
        <% end %>
        <%= link_to "https://github.com/Gugu21v1", target: "_blank" do %>
          <%= image_tag "https://avatars.githubusercontent.com/u/118295439?v=4", class: "avatar" %>
        <% end %>
        <%= link_to "https://github.com/Donibrazil", target: "_blank" do %>
          <%= image_tag "https://avatars.githubusercontent.com/u/115936371?v=4", class: "avatar" %>
        <% end %>
      </div>
    </div>
  </div>
</footer>
