<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "https://www.shareicon.net/data/2015/11/04/666614_animal_512x512.png" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto" style="display: flex;
    align-items: center;
    justify-content: center; ">
        <% if user_signed_in? %>
          <li class="nav-item dropdown mt-3">
            <p class=" dropdown-toggle" id="contact" data-bs-toggle="dropdown" aria-expanded="false">
              Contact us
            </p>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class=" px-3 text-justify">
                Email: wheremypetat@gmail.com
                Phone number: +5521999999999
              </p>
            </div>
          </li>
          <li class="nav-item dropdown mt-3">
            <p class=" dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              About us
            </p>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <p class="p-2 px-3 text-justify">
                Our goal is to help you find your dream best friend the easiest way! We only work with kennels and institutions that
                follow international good animal care standards.
              </p>
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Create a Kennel", new_kennel_path, class: "nav-link" %>
          </li>
          <% if current_user.kennels != [] %>
            <div class="nav-item" id="pet-btn">
              <%= link_to "Create a Pet", new_kennel_pet_path(current_user.kennels.first), class: "nav-link" %>
            </div>
          <% end %>
          <li class="nav-item dropdown">
            <%= image_tag "https://img.freepik.com/vetores-premium/icone-de-circulo-de-usuario-anonimo-estilo-simples-de-ilustracao-vetorial-com-sombra-longa_520826-1931.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Edit your Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
