<div class="container">
  <div class="row pt-100 py-5">
    <div class="col-3">
      <% if @kennel.photos.attached? %>
        <div class="kennel-photos">
          <% @kennel.photos.each do |photo| %>
            <%= image_tag photo %>
          <% end %>
        </div>
      <% else %>
        <p>No photos found.</p>
      <% end %>
    </div>
    <div class="col-9 ">
      <div class="row mission">
        <h2 id="kennel-title"><%= @kennel.name %></h2>
        <div class="dn">
          <p class="px-3"><strong>Address:</strong> <%= @kennel.address %></p>
          <p class="px-3"><strong>Phone Number:</strong> <%= @kennel.phone_number %></p>
          <p class="px-3"><strong>Email:</strong> <%= @kennel.email %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div style="width: 80%; height: 600px;" data-controller="map" data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" class="ms-5 border border-3 border-secondary rounded-4">
        </div>
      </div>
      <div class="col-12 col-lg-6 mission">
        <h2 class="mission">Our Mission</h2>
        <p>To provide a humane, non-profit shelter for dogs and in Cumberland Countywho are homeless, abused and/or unwanted. To provide warm, nurturant surroundings for dogs at the shelter. To provide medical care to dogs  at the shelter and to ensure that all animals are spayed or neutered. To seek loving, compatible homes for our dogs. To work with shelters, humane organizations, and other rescue organizations to build a network of animal organizations to develop solutions and strategies for the community. To set up a system of foster homes for dogs, especially for those who are very
          young or old or who have special needs. To raise awareness of animal welfare issues and to play an educational role in the community and particularly in the schools. To encourage the spaying and neutering of companion animals.</p>
        <h2 id="kennel-policy">Adoption Policy</h2>
        <p>The shelter is located just in Ipanema rio de janeiro. For more information and to find us, go to our website at https://where-my-pet-at.herokuapp.com/</p>
      </div>
      <div class="nav-item btn btn-primary my-3" id="pet-btn">
        <%= link_to "Create a Pet", new_kennel_pet_path(current_user.kennels.first), class: "nav-link" %>
      </div>
    </div>
  </div>
  <div class="card-section">
    <div class="row">
      <div class="col-xs-12">
        <div class="container mt-4 mb-2">
          <h2>Dogs available on our kennel</h2>
        </div>
      </div>
    </div>
    <div class="container mt-4 mb-4 ">
      <div class="d-flex justify-content-between flex-wrap">
        <%@pets.each do |pet|  %>
          <div class="m-3">
            <img class="img-pets" src="https://imagepng.org/wp-content/uploads/2017/12/cachorro-pug-raca-2.jpg" alt="">
            <div class="name-pets"><%= pet.name %></div>
            <div class="charac-pets"><%= pet.breed %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
